@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body
{
    font-family: 'JetBrains Mono', monospace;
    color:antiquewhite;
}
.text-center {
    text-align: center;
}
.input {
    width: 35vw;
    border: 0px;
    padding: 0.5rem;
    border-radius:5px;
    padding: 0.7rem;
}
.redirect-button {
    color: #1DB954;
}
.login-container {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button-submit {
    color: white;
    background-color: #1DB954;
    padding: 0.7rem 1rem;
    border: 0px;
    border-radius: 5px;
    font-size: 1.2rem;
}
.mt-5 {
    margin-top: 5rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mt-1 {
    margin-top: 1rem;
}
.songs-container {
        width: 80vw;
        margin: auto;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "a a"
          "a a"
          "a a";
}
.a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.artwork {
    width: 70%;
}
@media screen and (max-width:767px) {
    .songs-container {
        width: 100vw;
        margin: auto;
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
          "a"
          "a"
          "a";
    }
    .input {
        width: 80vw;
    }   
    .icon {
        position: fixed !important;
        bottom: 20px !important;
    }
}

@media screen and (max-width:377px) {
    .title {
        font-size: 2rem;
    }
   
}
.light {
    transition: 0.8s linear;
    background-color: antiquewhite;
    color: #212121;   
}
.dark {
    transition: 0.8s linear;
    background-color: #212121;
    color: antiquewhite;
}
.icon {
    font-size: 8vh;
    position: absolute;
    right: 0;
    transform: translateX(-25px);
}
.icon:hover {
    cursor: pointer;
}
.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
